/*----------------------------------------------------------------------------*/
/* Global Stuff */
/*----------------------------------------------------------------------------*/

/* Background */
html {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

/* Zelda Font! */
/*@font-face { font-family: Chairo; src: url('../font/Chairo.otf'); } 
*/

/* Custom Highlight Color (Hacker green on black) */
::selection { /* Common browsers */
    background-color: #0000FF;
    color: #20C20E;
}
::-moz-selection { /* Firefox browsers */
    background-color: #0000FF;
    color: #20C20E;
}
/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* Body */
/*----------------------------------------------------------------------------*/

/* Body */
body {
    margin: 0;
    padding: 0;

    height: auto;
    overflow: auto;
    
    font-family: 'Chairo';
}

/* Profile Picture */
#profilePic {
    margin: 15px;

	border-radius: 100%;
    border: 1px solid black;
	width: 150px;
	height: 150px;
    float: left;
}

/*----------------------------------------------------------------------------*/