/*----------------------------------------------------------------------------*/
/* Global Stuff */
/*----------------------------------------------------------------------------*/

/* Background */
html {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

/* Zelda Font! */
/*@font-face { font-family: Chairo; src: url('../font/Chairo.otf'); } 
*/
/* Variables from http://www.colorcombos.com/color-schemes/194/ColorCombo194.html */
:root {
  --main-color: #242E35;
  --comp-color: #4A7B6F;
  --main-text-color: #EEEEE7;
  --main-transparent-color: rgba(36, 46, 53, 0.95);
}

/* Custom Highlight Color (Hacker green on black) */
::selection { /* Common browsers */
    background-color: #0000FF;
    color: #20C20E;
}
::-moz-selection { /* Firefox browsers */
    background-color: #0000FF;
    color: #20C20E;
}
/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* Body */
/*----------------------------------------------------------------------------*/

/* Body */
body {
    margin: 0;
    padding: 0;

    height: auto;
    overflow: auto;
    
    font-family: 'Chairo';
    color: #20C20E;
}

/* Profile Picture */
#profilePic {
    margin: 15px;

	border-radius: 100%;
    border: 1px solid var(--main-text-color);
	width: 150px;
	height: 150px;
    float: left;
}

/*----------------------------------------------------------------------------*/