/*----------------------------------------------------------------------------*/
/* Global Stuff */
/*----------------------------------------------------------------------------*/

/* Background */
html {
    height: 100%;
    width: 100%;
    background-color: #7070b0;
}

/* Custom Highlight Color (Hacker green on black) */
::selection { /* Common browsers */
    background-color: #0000FF;
    color: #20C20E;
}
::-moz-selection { /* Firefox browsers */
    background-color: #0000FF;
    color: #20C20E;
}
/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* Body */
/*----------------------------------------------------------------------------*/

/* Body */
body {
    margin: 0;
    padding: 0;

    height: 100%;
    overflow: auto;
    
    font-family: "Roboto", sans-serif;
}

/* Content Window Header */
#header {
    margin: 0px;
    padding: 0px;

    display: block;
    width: 100% auto;
    height: 25px;

    text-align: center;
    line-height: 25px;

    background-color: #f2f7ff;
}

/* Profile Picture */
#profilePic {
    margin: 15px;
    padding: 0px;

	border-radius: 100%;
    border: 1px solid black;
	width: 150px;
	height: 150px;
    float: left;
}

h1 {
    font-weight: thin;
    letter-spacing: 3px;
}

/*----------------------------------------------------------------------------*/