/*----------------------------------------------------------------------------*/
/* Global Stuff */
/*----------------------------------------------------------------------------*/

/* Background */
html { 
    background-color: var(--main-bg-color);
}

/* Zelda Font! (Need to change, doesn't actually display?) */
@font-face { 
    font-family: Chairo; src: url('../font/Chairo.otf'); 
} 

/* Variables from http://www.colorcombos.com/color-schemes/194/ColorCombo194.html */
:root {
  --main-color: #242E35;
  --comp-color: #4A7B6F;
  --main-text-color: #EEEEE7;
  --main-bg-color: #CCDDDD;
  --main-transparent-color: rgba(36, 46, 53, 0.3);
}

/* Custom Highlight Color (Hacker green on black) */
::selection { /* Common browsers */
    background-color: #000000;
    color: #20C20E;
}
::-moz-selection { /* Firefox browsers */
    background-color: #000000;
    color: #20C20E;
}

/* Body */
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    font-family: 'Chairo';
    color: var(--main-text-color);
}

/* Container Class */
.container {
    background-color: var(--main-color);
}

/* Window Class */
.window {

}
/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* Header */
/*----------------------------------------------------------------------------*/

/* Header Container */
#headerContainer {
    position: relative;
    overflow: hidden;
}

/* Header Window */
#headerWindow {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Navigation Bar Unordered List */
#headerWindow ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* List Item Navigation Links */
#headerWindow li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;

    background-color: transparent;
    color: var(--main-text-color);

    padding: 10px 14px;
    text-decoration: none;
    cursor: pointer;
}

/* Hover item color */
#headerWindow li:hover {
    background-color: var(--comp-color);
}

/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* SideBar */
/*----------------------------------------------------------------------------*/

/* Sidebar Container */
#sideBarContainer {
/*    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 15px;
    padding: 0px;

    height: 70%;
    width: 15%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 3px 30px black;*/
}

/* Sidebar Window */
#sideBarWindow {
    margin: 0;
    padding: 0;
    text-align: center;
}

/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* Content */
/*----------------------------------------------------------------------------*/

/* Content Container */
#contentContainer {
    margin: auto;
    padding: 0px;

    height: 70%;
    width: 80%;

    opacity: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 3px 30px black;
}

/* Content Window */
#contentWindow {
    margin: 0px;
    padding: 0px;

    width: 100% auto;
    height: 100% auto;
    text-align: center;
}

/* iFrame */
#contentFrame {
    margin: 0px;
    padding: 0px;

    position: relative;
    display: block;
    width: 100%;
    height: 400px;

    border: none;
}

/*----------------------------------------------------------------------------


/*----------------------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------------------*/

/* Footer Container */
#footerContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    
    overflow: hidden;
}

/* Footer Window */
#footerWindow {
    padding: 0px;
    margin: 0px;

    text-align: center;
}

/* Footer unordered list */
#footerWindow ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* List item */
#footerWindow li {
    text-align: center;
    display: inline;
    cursor: pointer;
}

/* List item */
#footerWindow li a {
    padding: 15px;
    width: 15px;
    text-decoration: none;
    color: var(--main-text-color);
    cursor: pointer;
}

/* Hover item color */
.fa:hover {
    background-color: var(--comp-color);
}

/*----------------------------------------------------------------------------*/