/*----------------------------------------------------------------------------*/
/* Global Stuff */
/*----------------------------------------------------------------------------*/

/* Background */
html {
    background-color: var(--theme-color-3);
}

/* Zelda Font! (Need to change, doesn't actually display?) */
/*@font-face { 
    src: url('https://fonts.googleapis.com/css?family=Raleway'); 
} 

*/
/* Color Variables from http://www.color-hex.com/color-palette/389 */
:root {
  --theme-color-1: #F48EC1;
  --theme-color-2: #A0C1B8;
  --theme-color-3: #709FB0;
  --theme-color-4: #726A95;
  --theme-color-5: #351F39;
}

/* Custom Highlight Color (Hacker green on black) */
::selection { /* Common browsers */
    background-color: #000000;
    color: #20C20E;
}
::-moz-selection { /* Firefox browsers */
    background-color: #000000;
    color: #20C20E;
}

/* Body */
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    font-family: "Alegreya Sans SC", sans-serif;
}

/* Container Class */
.container {
    color: black;
}

/* Window Class */
.window {
}

/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* Header */
/*----------------------------------------------------------------------------*/

/* Header Container */
#headerContainer {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: hidden;
}

/* Header Window */
#headerWindow {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15px;
    font-weight: thin;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* Navigation Bar Unordered List */
#headerWindow ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

/* List Item Navigation Links */
#headerWindow li {
    margin: 10px 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    display: inline-block;
    vertical-align: middle;
    text-align: center;

    text-decoration: none;
    cursor: pointer;

    transition: all 0.5s ease;
    border-bottom: 1px solid transparent;
}

/* Hover item color */
#headerWindow li:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* Content */
/*----------------------------------------------------------------------------*/

/* Content Container */
#contentContainer {
    margin: auto;
    padding: 0px;

    height: 70%;
    width: 80%;

    opacity: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 3px 30px black;
}

/* Content Window */
#contentWindow {
    margin: 0px;
    padding: 0px;

    width: 100% auto;
    height: 100%;
    text-align: center;
}

/* iFrame */
#contentFrame {
    margin: 0px;
    padding: 0px;

    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    border: none;
}

/*----------------------------------------------------------------------------


/*----------------------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------------------*/

/* Footer Container */
#footerContainer {
    padding: 0px;
    margin: 0px;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    overflow: hidden;
}

/* Footer Window */
#footerWindow {
    padding: 0px;
    margin: 0px;

    text-align: center;
}

/* Footer unordered list */
#footerWindow ul {
    padding: 0;
    margin: 0;

    list-style-type: none;
    overflow: hidden;
}

/* List item */
#footerWindow li {
    padding: 0px;
    margin: 10px 5px;

    display: inline-block;
}

/* List item */
#footerWindow li a {
    padding: 8px;
    margin: 0px;

    width: 20px;
    height: 20px;

    display: inline-block;
    vertical-align: bottom; 
    text-align: center;

    text-decoration: none;
    cursor: pointer;

    font-size: 20px;
    line-height: 20px;

    color: black; 
    border-radius: 10px;

    transition: all 0.5s ease;
    border-bottom: 1px solid transparent;
}

/* Hover item color */
#footerWindow li a:hover {
    opacity: 0.5;
}

/*----------------------------------------------------------------------------*/