/*----------------------------------------------------------------------------*/
/* Global Stuff */
/*----------------------------------------------------------------------------*/

/* Background */
html { 
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

    background-blend-mode: 5px;
}

/* Zelda Font! (Need to change, doesn't actually display?) */
@font-face { 
    font-family: Chairo; src: url('../font/Chairo.otf'); 
} 

/* Variables from http://www.colorcombos.com/color-schemes/194/ColorCombo194.html */
:root {
  --main-color: #242E35;
  --comp-color: #4A7B6F;
  --main-text-color: #EEEEE7;
  --main-bg-color: #CCDDDD;
  --main-transparent-color: rgba(36, 46, 53, 0.85);
}

/* Custom Highlight Color (Hacker green on black) */
::selection { /* Common browsers */
    background-color: #000000;
    color: #20C20E;
}
::-moz-selection { /* Firefox browsers */
    background-color: #000000;
    color: #20C20E;
}

/* Animations */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* Header */
/*----------------------------------------------------------------------------*/

#navContainer::before {
    background: url(../images/background.jpg) 0 / cover fixed;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(15px);
    z-index: -1;
}

#navContainer {
    position: relative;

    background: hsla(0,0%,100%,.3);
    box-shadow: 5px 3px 30px black;
}

nav {
    margin: 0;
    padding: 0;
}

/* Navigation Bar Unordered List */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* List Item Navigation Links */
nav li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;

    float: right;
    border: none;

    background-color: transparent;
    color: var(--main-text-color);

    padding: 10px 14px;
    text-decoration: none;
    cursor: pointer;
}

nav li.iconTab {
    float: left;
}

/* Hover item color */
nav li:hover {
    background-color: var(--comp-color);
}

/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* Body */
/*----------------------------------------------------------------------------*/

/* Body */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Chairo';
    color: var(--main-text-color);
}

#contentWindowContainer {
    opacity: 0;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

    animation-timing-function: linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#contentWindow::before {
    background: url(../images/background.jpg) 0 / cover fixed;
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(15px);
    z-index: -1;
}

#contentWindow {
    margin: 100px auto;
    position: relative;

    background: hsla(0,0%,100%,.3);
    box-shadow: 5px 3px 30px black;

    border-radius: 10px;
    width: 60%;
    overflow: hidden;

    text-align: center;
}

/* iFrame */
#contentFrame {
    width: 100%;
    border: none;
    overflow: hidden; 
}

/*----------------------------------------------------------------------------


/*----------------------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------------------*/

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    padding: 0px;
    margin: 0px;

    background-color: var(--main-color);
    text-align: center;
}

/* Footer unordered list */
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* List item */
footer li {
    text-align: center;
    display: inline;
}

/* List item */
footer li a {
    padding: 15px;
    width: 15px;
    text-decoration: none;
    color: var(--main-text-color);
}

/* Hover item color */
.fa:hover {
    background-color: var(--comp-color);
}
/*----------------------------------------------------------------------------*/

