/*----------------------------------------------------------------------------*/
/* Global Stuff */
/*----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

/* Custom Variables */
:root {
    --font-title: 'IBM Plex Serif', serif;
    --font-heading: 'Lato', sans-serif;
    --font-body: 'Raleway', sans-serif;

    --color-background-primary: #4c4a4a;
    --color-background-secondary: #222222;
    --color-background-tertiary: #e6e6e6;

    --color-text-bright: #ffffff;
    --color-text-bright-complement: #a5a5a5;
    --color-text-dark: #000000;

    --color-accent: #20c20e;
    --color-gradient: linear-gradient(to bottom right, #000099 0%, #00ffcc 100%);

    --color-hacker-green: #20c20e;
    --color-hacker-blue: #0d2698;
}

/* Generic settings */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-primary);
    color: var(--color-text-bright);

    font-family: var(--font-body);
    font-weight: 300;
    line-height: 1.75;
}

/* Custom Highlight Color */
::selection { /* Common browsers */
    background-color: var(--color-hacker-blue);
    color: var(--color-hacker-green);
}
::-moz-selection { /* Firefox browsers */
    background-color: var(--color-hacker-blue);
    color: var(--color-hacker-green);
}

/* Custom Headers */
.title {
    font-family: var(--font-title);
    font-weight: 400;
    letter-spacing: 1px;
}
.heading {
    font-family: var(--font-heading);
}

/* Custom Links */
a {
    color: var(--color-text-bright);
}
a:hover {
    color: var(--color-text-bright-complement);
}

/*----------------------------------------------------------------------------*/
/* Gradient */
/*----------------------------------------------------------------------------*/
.gradient {
    width: 100%;
    height: 10%;
    background: var(--color-gradient);
}

/*----------------------------------------------------------------------------*/
/* Header */
/*----------------------------------------------------------------------------*/
.header {
    background-color: var(--color-background-secondary);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}
.header a {
    padding: 10px;
    float: left;
    color: var(--color-text-bright);
    text-decoration: none;
}
.header ul {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    list-style: none;
    float: right;
}
.header li {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    list-style-type: none;
    display: inline-block;

    cursor: pointer;
}
.header li a {
    padding: 20px 15px;
    border-bottom: 3px solid transparent;
}
.header li a:hover {
    border-bottom-color: var(--color-accent);
}
#header-logo {
    padding: 5px;
}
#header-logo img {
    width: 45px;
}

/*----------------------------------------------------------------------------*/
/* Sections */
/*----------------------------------------------------------------------------*/
.section {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}
.section-wrapper {
    margin: 50px auto;
    padding: 50px;
    width: 65%;
    max-width: 85%;
    overflow: auto;
}
.section-window {

}
.section .heading {
    text-align: left;
}
.section .accent-line {
    margin-top: -5px;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--color-accent);
}

/*----------------------------------------------------------------------------*/
/* Introduction Section */
/*----------------------------------------------------------------------------*/
#introduction {
    background-image: url("../img/background2.jpg");
    background-size: 100% 100%;
    background-color: #000000;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--color-text-dark);
}
#introduction h1 {
    margin-top: 150px;
    font-size: 64px;
    letter-spacing: 3px;
}
#introduction h3 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

/*----------------------------------------------------------------------------*/
/* About Section */
/*----------------------------------------------------------------------------*/
#about {
    background: linear-gradient(#000000, var(--color-background-primary));
}
#about p {
    float: left;
    width: 65%;
}
#headshot-image {
    margin-top: 30px;
    margin-right: 15px;
    float: left;
    width: 30%;
    height: 50%;
    border-radius: 15px;
}

/*----------------------------------------------------------------------------*/
/* Services Section */
/*----------------------------------------------------------------------------*/
#services {

}

/*----------------------------------------------------------------------------*/
/* Skills Section */
/*----------------------------------------------------------------------------*/
#skills {
    background-color: var(--color-background-secondary);
}

/*----------------------------------------------------------------------------*/
/* Experience Section */
/*----------------------------------------------------------------------------*/
#experience {
}

/*----------------------------------------------------------------------------*/
/* Projects Section */
/*----------------------------------------------------------------------------*/
#projects {
    background-color: var(--color-background-secondary);
}
.panel {
    margin-right: 15px;

    width: 30%;
    background-color: var(--color-background-tertiary);
    border-radius: 7px;
    color: black;
    display: inline-block;
    overflow: hidden;
}
.panel img {
    width: 100%;
}
.panel .panel-content {
    padding: 10px;
}

/*----------------------------------------------------------------------------*/
/* Contact Section */
/*----------------------------------------------------------------------------*/
#contact {
    margin-bottom: 50px;
    text-align: center;
}
#contact .heading, #contact .accent-line {
    margin: auto;
    text-align: center;
}
input[type=text], input[type=email], textarea {
    margin: 10px 0px;
    padding: 12px;
    width: 60%;

    border: 0px solid gray;
    border-radius: 4px;

    box-sizing: border-box;
    resize: vertical;
}
textarea {
    min-height: 37px; /* 12 + 13 + 12 */
    max-height: 400px;
    height: 100px;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    outline: none;
}
input[type=submit] {
    margin: auto;
    background-color: var(--color-accent);
    color: var(--color-text-bright);
    padding: 12px 20px;
    border: none;
    display: block;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: var(--color-accent);
    color: var(--color-text-bright-complement);
}

/*----------------------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------------------*/
.footer {
    padding: 0px;
    margin: 0px;
    width: 100%;
    bottom: 0px;

    background: var(--color-background-secondary);
    /* background: var(--color-gradient); */

    text-align: center;
    overflow: hidden;
}
.footer ul {
    padding: 0;
    margin-top: 10px;

    list-style-type: none;
    overflow: hidden;
}
.footer li {
    padding: 0px;
    margin: 10px 5px;

    background-color: var(--color-text-bright);
    width: 40px;
    height: 40px;

    display: inline-block;
    transition: all 0.2s ease;
    border-radius: 100%;
}
.footer li:hover {
    opacity: 0.2;
}
.footer li a {
    color: var(--color-background-secondary);
    padding: 8px;
    margin: 0px;
    margin-top: 2px;

    display: inline-block;
    vertical-align: bottom;
    text-align: center;

    text-decoration: none;
    cursor: pointer;

    font-size: 20px;
    line-height: 20px;
}
.footer li .fa-github {
    font-size: 25px;
}
.footer .copyright {
    margin: 15px;
    margin-bottom: 25px;
}

/*----------------------------------------------------------------------------*/
/* Responsiveness */
/*----------------------------------------------------------------------------*/
@media only screen and (max-width: 640px) {
    .nav {
        display: none;
    }
}
